<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.server.admin.dao.AdminNoticeMapper">
	
	<resultMap id="adminNoticeResponse" type="com.api.server.admin.model.notice.AdminNoticeResponse" autoMapping="true"/>
	<resultMap id="adminNoticeDeptResponse" type="com.api.server.admin.model.notice.AdminNoticeDeptResponse" autoMapping="true"/>
	<resultMap id="adminNoticeCategory" type="com.api.server.admin.model.notice.AdminNoticeCategory" autoMapping="true"/>
	
	<select id="selectAdminNotices" resultMap="adminNoticeResponse">
		SELECT 
		   ID
		  ,COMPANY_CODE
		  ,ADMIN_ID
		  ,TITLE
		  ,CONTENT
		  ,CATEGORY
		  ,CASE
		     WHEN CATEGORY = 'E' THEN '긴급'
		 	 WHEN CATEGORY = 'N' THEN '일반'
		 	 WHEN CATEGORY = 'W' THEN '워닝'
		     ELSE '일반'
		   END AS CATEGORY_NAME
		  ,DEPT_CODE
		  ,DEPT_NAME
		  ,DEPT_CONFIRM_COUNT
		  ,DEPT_TOTAL
		  ,DEPT_CONFIRM_YN
		  ,CREATED_DATETIME
		  ,IF(DATEDIFF(DATE_FORMAT(NOW(), '%Y-%m-%d'), DATE_FORMAT(UPDATED_DATETIME, '%Y-%m-%d')) = 0, 'Y', 'N') AS NEW_YN
		  ,DATE_FORMAT(UPDATED_DATETIME, '%Y-%m-%d') AS UPDATED_DATETIME
		  ,REPLACE(REPLACE(DATE_FORMAT(UPDATED_DATETIME, '%Y.%m.%d %p %h:%i'),'AM', '오전'),'PM','오후') AS CONVERSION_UPDATED_DATETIME
		FROM DP_ADV_ADMIN_NOTICE
		WHERE ADMIN_ID = #{adminId}
		<if test="!'ALL'.equalsIgnoreCase(category)">
			<if test="category != null and !category.equals('')">
			  AND CATEGORY = #{category}
			</if>
		</if>
		<if test="startDate != null and !startDate.equals('')">
		  <if test="endDate != null and !endDate.equals('')">
		    AND DATE_FORMAT(UPDATED_DATETIME, '%Y-%m-%d')<![CDATA[>=]]>#{startDate} 
		    AND DATE_FORMAT(UPDATED_DATETIME, '%Y-%m-%d')<![CDATA[<=]]>#{endDate}
		  </if>
		</if>
		ORDER BY DATE_FORMAT(UPDATED_DATETIME, '%Y.%m.%d %p %h:%i') DESC
		LIMIT #{offset}, #{limit}
	</select>
	
	
	<select id="countAdminNotice" resultType="int">
	   SELECT 
	     COUNT(*)
	   FROM DP_ADV_ADMIN_NOTICE
	   WHERE ADMIN_ID = #{adminId}
	   <if test="!'ALL'.equalsIgnoreCase(category)">
	     <if test="category != null and !category.equals('')">
		   AND CATEGORY = #{category}
		  </if>
	   </if>
	   <if test="startDate != null and !startDate.equals('')">
	     AND DATE_FORMAT(UPDATED_DATETIME, '%Y-%m-%d')<![CDATA[>=]]>#{startDate} 
	     AND DATE_FORMAT(UPDATED_DATETIME, '%Y-%m-%d')<![CDATA[<=]]>#{endDate}
	   </if>
	</select>

	
	<select id="countAdminNoticeByCategories" resultMap="adminNoticeCategory">
		SELECT
			 'ALL' AS CATEGORY
			,COUNT(*) AS TOTAL
		FROM DP_ADV_ADMIN_NOTICE
		UNION ALL
		SELECT 
			 CATEGORY
			,COUNT(*) AS TOTAL
		FROM DP_ADV_ADMIN_NOTICE
		GROUP BY CATEGORY
	</select>
	
	
	<update id="updateAdminNotice">
 		UPDATE DP_ADV_ADMIN_NOTICE SET
 		  TITLE = #{title}
 		 ,CONTENT = #{content}
 		 ,CATEGORY = #{category}
 		 ,UPDATED_DATETIME = NOW()
 		WHERE ID = #{id}
 		AND ADMIN_ID = #{adminId}
	</update>
	
	
	<insert id="createAdminNotice">
 		INSERT INTO DP_ADV_ADMIN_NOTICE (
 			 ID
 			,COMPANY_CODE
 			,ADMIN_ID
 			,TITLE
 			,CONTENT
 			,CATEGORY
 			,DEPT_CODE
 			,DEPT_NAME
 			,DEPT_TOTAL
 			,CREATED_DATETIME
 			,UPDATED_DATETIME
 		) VALUES (
 			 #{id}
 			,#{companyCode}
 			,#{adminId}
 			,#{title}
 			,#{content}
 			,#{category}
 			,#{deptCode}
 			,#{deptName}
 			,#{deptTotal}
 			,NOW()
 			,NOW()
 		)
	</insert>
	
	
	<delete id="deleteAdminNotice">
 		DELETE FROM DP_ADV_ADMIN_NOTICE
 		WHERE ID = #{id}
 		AND ADMIN_ID =#{adminId}
	</delete>
	
	
	<select id="countAdminNoticeDeptTotal" resultType="int">
		SELECT 
		  DEPT_TOTAL
		FROM (
		  SELECT
		     A.DEPT_CODE 
		    ,COUNT(A.DEPT_CODE) AS DEPT_TOTAL 
		  FROM DP_ADV_AGENT A
		  WHERE IS_ADMIN = 'N'
		  GROUP BY A.DEPT_CODE
		)AA INNER JOIN (SELECT 
					      DISTINCT DEPT_CODE 
						FROM DP_ADV_DEPT 
						WHERE DEPTH = '4'
				    	AND COMPANY_CODE = #{companyCode}) B 
			ON AA.DEPT_CODE = B.DEPT_CODE 
		WHERE AA.DEPT_CODE = #{deptCode}
	</select>
	
	
	<select id="selectAdminNoticeDept" resultMap="adminNoticeDeptResponse">
		SELECT 
		  DEPT_CODE
		 ,DEPT_NAME
		 ,P_DEPT_CODE
		 ,DEPTH
		 ,COMPANY_CODE
		FROM DP_ADV_DEPT
		WHERE COMPANY_CODE = #{companyCode}
		ORDER BY DEPTH
	</select>
</mapper>