<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.api.server.admin.dao.AdminMapper">
  
	<resultMap id="resultMap" type="com.api.server.util.ResultMap"/>
	<resultMap id="adminDeptResponse" type="com.api.server.admin.model.admin.AdminDeptResponse" autoMapping="true"/>
	
	<select id="getAdminInfo" parameterType="map" resultType="hashmap">
		SELECT 
			IFNULL(AGENT_NAME, '미등록') AS ADMIN_NAME
			, IFNULL(AGENT_TITLE, '미등록') AS ADMIN_TITLE
			, IFNULL(AGENT_WORK, '미등록 부서') AS ADMIN_WORK
		FROM DP_ADV_AGENT
		WHERE AGENT_ID = #{adminId}
	</select>
	
	<select id="selectMngAdvList" parameterType="map" resultMap="resultMap">
		select   b.id
				,b.agent_id
				,b.agent_name
				,b.dept_code
				,a.dept_name
				,a.p_dept_code
				,b.agent_work
				,ifnull(c.id,'0') as interest
				,b.ext				
		  from DP_ADV_DEPT a, DP_ADV_AGENT b
		  left join DP_ADV_INTEREST_AGENT c on b.agent_id = c.agent_id 
		  						  and c.admin_id = #{adminId} /* 접속한 관리자 id */		  
	 	 where a.DEPT_CODE = b.DEPT_CODE 
	       <if test="adminId != null and adminId != 'super'">
	       	<if test="deptCode == ''">
	             and b.DEPT_CODE = (select DEPT_CODE from DP_ADV_AGENT where agent_id = #{adminId})
	       	</if>
	       </if>
		   <if test="deptCode != null and deptCode != ''">
		     and a.dept_code in (${deptCode})
		   </if>
		   <if test="agentName != null and agentName != ''">
		   	and b.agent_name like CONCAT(#{agentName}, '%') /* 이름으로 조회 */
		   </if>
		   <if test="interest=='true'">
		   	and c.admin_id = #{adminId} /* 관심상담사 조회 */
		   </if>
		 order by agent_name asc	
	</select>
	
	<insert id="insertInterest" parameterType = "map">
		insert into DP_ADV_INTEREST_AGENT (ADMIN_ID, AGENT_ID)
		values(#{adminId}, #{agentId})
	</insert>
	
	<delete id="deleteInterest" parameterType = "map">
		delete from DP_ADV_INTEREST_AGENT
		 where id = #{interestId}
	</delete>
	
	<select id="selectMngAdvInterest" parameterType="map" resultMap="resultMap">
		select id
		  from DP_ADV_INTEREST_AGENT
		 where admin_Id = #{adminId}
		   and agent_id = #{agentId}
	</select>

	<select id="searchGbnList" parameterType="map" resultMap="resultMap">
		select a.dept_code ,a.dept_name ,a.p_dept_code
		  from DP_ADV_DEPT a
		  where a.depth = #{dept}
 		<if test="deptCode != null and !deptCode.equals('')">
 		  and a.p_dept_code in
 		<foreach collection="deptCode" item="item" open="(" close=")" separator=",">
		  #{item}
        </foreach>
        </if>		  
		  order by a.id
	</select>
	
		
	<select id="selectAdminDept" resultMap="adminDeptResponse">
		select 
		  dept_code
		 ,dept_name
		 ,p_dept_code
		 ,depth
		 ,company_code
		from dp_adv_dept
		where company_code = #{companyCode}
		order by depth
	</select>

</mapper>