<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.server.dao.BookmarkGroupMapper">
	
	<resultMap id="bookmarkGroupResponse" type="com.api.server.model.bookmarkgroup.BookmarkGroupResponse" autoMapping="true"/>
	
	<select id="selectBookmarkGroups" resultMap="bookmarkGroupResponse">
 		SELECT * FROM BOOK_MARK_GROUP 
 		WHERE ADV_ID = #{advId} 
 		ORDER BY TITLE ASC
	</select>
	
	
	<update id="updateBookmarkGroup">
 		UPDATE BOOK_MARK_GROUP SET
 		  TITLE = #{title}
 		 ,MOD_DT = NOW()
 		WHERE ID = #{id}
	</update>
	
	
	<insert id="createBookmarkGroup">
 		INSERT INTO BOOK_MARK_GROUP (
 			 ID
 			,ADV_ID
 			,TITLE
 			,BASIC_GROUP_YN
 			,REG_DT
 			,MOD_DT
 		) VALUES (
 			 #{id}
 			,#{advId}
 			,#{title}
 			,#{basicGroupYn}
 			,NOW()
 			,NOW()
 		)
	</insert>
	
	
	<delete id="deleteBookmarkGroup">
 		DELETE FROM BOOK_MARK_GROUP
 		WHERE ADV_ID = #{advId}
 		AND ID IN
 		<foreach collection="id" item="item" open="(" close=")" separator=",">
			#{item}
        </foreach>
	</delete>
	
</mapper>