<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.server.dao.BookMarkMapper">
	
	<resultMap id="bookMarkResponse" type="com.api.server.model.bookmark.BookMarkResponse" autoMapping="true"/>
	
	<select id="selectBookMarks" resultMap="bookMarkResponse">
		SELECT * FROM ( 
			SELECT 
			  A.ID
			 ,A.ADV_ID
			 ,A.TITLE
			 ,A.CONTENTS
			 ,A.TYPE
			 ,A.GROUP_ID
			 ,B.TITLE AS GROUP_TITLE
			 ,DATE_FORMAT(A.REG_DT, '%Y-%m-%d %T') AS REG_DT
			FROM BOOK_MARK A
			LEFT JOIN BOOK_MARK_GROUP B
			ON A.GROUP_ID  = B.ID
		) AA
		WHERE AA.ADV_ID = #{advId}
		ORDER BY GROUP_TITLE ASC
	</select>

	
	<update id="updateBookMark">
 		UPDATE BOOK_MARK SET
 		  TITLE = #{title}
 		 ,CONTENTS = #{contents}
 		 ,GROUP_ID = #{groupId}
 		 ,MOD_DT = NOW()
 		WHERE ID = #{id}
	</update>
	
	
	<insert id="createBookMark">
 		INSERT INTO BOOK_MARK (
 			 ID
 			,ADV_ID
 			,TITLE
 			,CONTENTS
 			,GROUP_ID
 			,REG_DT
 			,MOD_DT
 		) VALUES (
 			 #{id}
 			,#{advId}
 			,#{title}
 			,#{contents}
 			,#{groupId}
 			,NOW()
 			,NOW()
 		)
	</insert>
	
	
	<delete id="deleteBookMark">
 		DELETE FROM BOOK_MARK
 		WHERE ADV_ID = #{advId}
 		AND ID = #{id}
	</delete>
	
	
	<delete id="deleteBookMarks">
 		DELETE FROM BOOK_MARK
 		WHERE ADV_ID = #{advId}
 		AND ID IN
 		<foreach collection="id" item="item" open="(" close=")" separator=",">
			#{item}
        </foreach>
	</delete>

	
	<delete id="deleteBookMarkByGroups">
 		DELETE FROM BOOK_MARK
 		WHERE ADV_ID = #{advId}
 		AND GROUP_ID IN
	 	<foreach collection="id" item="item" open="(" close=")" separator=",">
			#{item}
        </foreach>
	</delete>

</mapper>