<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.server.dao.BookmarkGroupMapper">
	
	<resultMap id="bookmarkGroupResponse" type="com.api.server.model.bookmarkgroup.BookmarkGroupResponse" autoMapping="true"/>
	
	<select id="selectBookmarkGroups" resultMap="bookmarkGroupResponse">
 		SELECT * FROM BOOKMARK_GROUP 
 		WHERE ADV_ID = #{advId} 
 		ORDER BY TITLE ASC
	</select>
	
	
	<select id="checkBookmarkGroupTitle" resultType="int">
 		SELECT COUNT(*) FROM BOOKMARK_GROUP 
 		WHERE ADV_ID = #{advId}
 		<if test="titles != null and !titles.equals('')">
 		  AND TITLE IN
 		<foreach collection="titles" item="item" open="(" close=")" separator=",">
		  #{item}
        </foreach>
        </if>
	</select>
	
	
	<update id="updateBookmarkGroup">
 		UPDATE BOOKMARK_GROUP SET
 		  TITLE = #{title}
 		 ,MOD_DT = NOW()
 		WHERE ID = #{id}
 		AND ADV_ID = #{advId}
	</update>
	
	
	<insert id="createBookmarkGroup">
 		INSERT INTO BOOKMARK_GROUP (
 			 ID
 			,ADV_ID
 			,TITLE
 			,BASIC_GROUP_YN
 			,REG_DT
 			,MOD_DT
 		) VALUES (
 			 #{id}
 			,#{advId}
 			,#{title}
 			,#{basicGroupYn}
 			,NOW()
 			,NOW()
 		)
	</insert>
	
	
	<delete id="deleteBookmarkGroups">
 		DELETE FROM BOOKMARK_GROUP
 		WHERE ADV_ID = #{advId}
 		AND ID IN
 		<foreach collection="ids" item="item" open="(" close=")" separator=",">
			#{item}
        </foreach>
	</delete>
	
	
	<delete id="deleteBookmarkGroup">
 		DELETE FROM BOOKMARK_GROUP
 		WHERE ADV_ID = #{advId}
 		AND ID = #{id}
	</delete>
</mapper>