<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.server.dao.BookmarkGroupMapper">
	
	<resultMap id="bookmarkGroupResponse" type="com.api.server.model.bookmarkgroup.BookmarkGroupResponse" autoMapping="true"/>
	
	<select id="selectBookmarkGroups" resultMap="bookmarkGroupResponse">
 		SELECT * FROM DP_ADV_BOOKMARK_GROUP 
 		WHERE AGENT_ID = #{agentId} 
 		ORDER BY TITLE ASC
	</select>
	
	
	<select id="checkBookmarkGroupTitle" resultType="int">
 		SELECT COUNT(*) FROM DP_ADV_BOOKMARK_GROUP 
 		WHERE AGENT_ID = #{agentId}
 		<if test="titles != null and !titles.equals('')">
 		  AND TITLE IN
 		<foreach collection="titles" item="item" open="(" close=")" separator=",">
		  #{item}
        </foreach>
        </if>
	</select>
	
	
	<update id="updateBookmarkGroup">
 		UPDATE DP_ADV_BOOKMARK_GROUP SET
 		  TITLE = #{title}
 		 ,UPDATED_DATETIME = NOW()
 		WHERE ID = #{id}
 		AND AGENT_ID = #{agentId}
	</update>
	
	
	<insert id="createBookmarkGroup">
 		INSERT INTO DP_ADV_BOOKMARK_GROUP (
 			 ID
 			,AGENT_ID
 			,TITLE
 			,BASIC_GROUP_YN
 			,CREATED_DATETIME
 			,UPDATED_DATETIME
 		) VALUES (
 			 #{id}
 			,#{agentId}
 			,#{title}
 			,#{basicGroupYn}
 			,NOW()
 			,NOW()
 		)
	</insert>
	
	
	<delete id="deleteBookmarkGroups">
 		DELETE FROM DP_ADV_BOOKMARK_GROUP
 		WHERE AGENT_ID = #{agentId}
 		AND ID IN
 		<foreach collection="ids" item="item" open="(" close=")" separator=",">
			#{item}
        </foreach>
	</delete>
	
	
	<delete id="deleteBookmarkGroup">
 		DELETE FROM DP_ADV_BOOKMARK_GROUP
 		WHERE AGENT_ID = #{agentId}
 		AND ID = #{id}
	</delete>
</mapper>