<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.server.dao.BookmarkMapper">
	
	<resultMap id="bookmarkResponse" type="com.api.server.model.bookmark.BookmarkResponse" autoMapping="true"/>
	
	<select id="selectBookmarks" resultMap="bookmarkResponse">
		SELECT * FROM ( 
			SELECT 
			  A.ID
			 ,A.COMPANY_CODE
			 ,A.AGENT_ID
			 ,A.TITLE
			 ,A.SUB_TITLE
			 ,A.CONTENT
			 ,A.CATEGORY
			 ,CASE
			 	WHEN A.CATEGORY = 'K' THEN '지식정보'
			 	WHEN A.CATEGORY = 'S' THEN '스크립트'
			  ELSE '기본'
			  END AS CATEGORY_NAME
			 ,A.GROUP_ID
			 ,B.TITLE AS GROUP_TITLE
			 ,B.BASIC_GROUP_YN
			 ,A.CREATED_DATETIME
			 ,DATE_FORMAT(A.UPDATED_DATETIME, '%Y.%m.%d') AS CONVERSION_UPDATED_DATETIME
			FROM DP_ADV_BOOKMARK A
			LEFT JOIN DP_ADV_BOOKMARK_GROUP B
			ON A.GROUP_ID  = B.ID
		) AA
		WHERE AA.AGENT_ID = #{agentId}
        <if test="groupId != null and !groupId.equals('')">
          AND AA.GROUP_ID = #{groupId}
        </if>
		ORDER BY GROUP_TITLE ASC
	</select>


	<select id="checkBookmarkTargetId" resultType="int">
		SELECT
			COUNT(*)
		FROM DP_ADV_BOOKMARK
		WHERE AGENT_ID = #{agentId}
 		AND TARGET_ID = #{targetId}
	</select>

	
	<update id="updateBookmark">
 		UPDATE DP_ADV_BOOKMARK SET
 		  GROUP_ID = #{groupId}
 		 ,UPDATED_DATETIME = NOW()
 		WHERE ID = #{id}
	</update>
	
	
	<update id="updateBookmarkToMove">
 		UPDATE DP_ADV_BOOKMARK SET
 		  GROUP_ID = #{groupId}
 		 ,UPDATED_DATETIME = NOW()
 		WHERE GROUP_ID IN (${targetIds})
 		AND AGENT_ID = #{agentId}
	</update>
	
	
	<insert id="createBookmark">
 		INSERT INTO DP_ADV_BOOKMARK (
 			 ID
 			,COMPANY_CODE
 			,AGENT_ID
 			,TARGET_ID
 			,TITLE
 			,SUB_TITLE
 			,CONTENT
 			,CATEGORY
 			,GROUP_ID
 			,CREATED_DATETIME
 			,UPDATED_DATETIME
 		) VALUES (
 			 #{id}
 			,#{companyCode}
 			,#{agentId}
 			,#{targetId}
 			,#{title}
 			,#{subTitle}
 			,#{content}
 			,#{category}
 			,#{groupId}
 			,NOW()
 			,NOW()
 		)
	</insert>
	
	
	<delete id="deleteBookmark">
 		DELETE FROM DP_ADV_BOOKMARK
 		WHERE AGENT_ID = #{agentId}
 		<if test="id != null and !id.equals('')">
 		  AND ID = #{id}
 		</if>
 		<if test="targetId != null and !targetId.equals('')">
 		  AND TARGET_ID = #{targetId}
 		</if>
	</delete>
	
	
    <delete id="deleteBookmarkByGroups">
         DELETE FROM DP_ADV_BOOKMARK
         WHERE AGENT_ID = #{agentId}
         AND GROUP_ID IN
         <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
	</delete>
	
		
	<delete id="deleteBookmarkByGroup">
 		DELETE FROM DP_ADV_BOOKMARK
 		WHERE GROUP_ID = #{id}
 		AND AGENT_ID = #{agentId}
	</delete>

</mapper>