<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.server.dao.BookmarkMapper">
	
	<resultMap id="bookmarkResponse" type="com.api.server.model.bookmark.BookmarkResponse" autoMapping="true"/>
	
	<select id="selectBookmarks" resultMap="bookmarkResponse">
		SELECT * FROM ( 
			SELECT 
			  A.ID
			 ,A.ADV_ID
			 ,A.TITLE
			 ,A.SUB_TITLE
			 ,A.CONTENTS
			 ,A.TYPE
			 ,A.GROUP_ID
			 ,B.TITLE AS GROUP_TITLE
			 ,B.BASIC_GROUP_YN
			 ,DATE_FORMAT(A.REG_DT, '%Y-%m-%d %T') AS REG_DT
			FROM BOOK_MARK A
			LEFT JOIN BOOK_MARK_GROUP B
			ON A.GROUP_ID  = B.ID
		) AA
		WHERE AA.ADV_ID = #{advId}
		<if test="groupId != null and !groupId.equals('')">
		  AND AA.GROUP_ID = #{groupId}
		</if>
		ORDER BY GROUP_TITLE ASC
	</select>

	
	<update id="updateBookmark">
 		UPDATE BOOK_MARK SET
 		  TITLE = #{title}
 		 ,CONTENTS = #{contents}
 		 ,GROUP_ID = #{groupId}
 		 ,MOD_DT = NOW()
 		WHERE ID = #{id}
	</update>
	
	
	<insert id="createBookmark">
 		INSERT INTO BOOK_MARK (
 			 ID
 			,ADV_ID
 			,TITLE
 			,SUB_TITLE
 			,CONTENTS
 			,TYPE
 			,GROUP_ID
 			,REG_DT
 			,MOD_DT
 		) VALUES (
 			 #{id}
 			,#{advId}
 			,#{title}
 			,#{subTitle}
 			,#{contents}
 			,#{type}
 			,#{groupId}
 			,NOW()
 			,NOW()
 		)
	</insert>
	
	
	<delete id="deleteBookmark">
 		DELETE FROM BOOK_MARK
 		WHERE ID = #{id}
 		AND ADV_ID = #{advId}
	</delete>
	
	
    <delete id="deleteBookmarkByGroups">
         DELETE FROM BOOK_MARK
         WHERE ADV_ID = #{advId}
         AND GROUP_ID IN
         <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
	</delete>
	
		
	<delete id="deleteBookmarkByGroup">
 		DELETE FROM BOOK_MARK
 		WHERE GROUP_ID = #{id}
 		AND ADV_ID = #{advId}
	</delete>

</mapper>