<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.server.dao.MemoMapper">
	
	<resultMap id="memoResponse" type="com.api.server.model.memo.MemoResponse" autoMapping="true"/>
	
	<select id="selectMemos" resultMap="memoResponse">
 		SELECT * FROM MEMO
	</select>
	
	<select id="selectMemoById" resultMap="memoResponse">
 		SELECT * FROM MEMO
 		WHERE ID = #{id}
 		ORDER BY CREATE_DT DESC
	</select>
	
	<update id="updateMemo">
 		UPDATE MEMO SET
 		  TITLE = #{title}
 		 ,CONTENTS = #{contents}
 		 ,GROUP_ID = #{groupId}
 		 ,GROUP_NAME = #{groupName}
 		 ,UPDATE_DT = NOW()
 		WHERE ID = #{id}
	</update>
	
	<insert id="createMemo">
 		INSERT INTO MEMO (
 			 ID
 			,USER_ID
 			,TITLE
 			,CONTENTS
 			,GROUP_ID
 			,GROUP_NAME
 			,CREATE_DT
 			,CREATE_USER_ID
 			,UPDATE_DT
 			,UPDATE_USER_ID
 		) VALUES (
 			 #{id}
 			,#{userId}
 			,#{title}
 			,#{contents}
 			,#{groupId}
 			,#{groupName}
 			,NOW()
 			,#{createUserId}
 			,NOW()
 			,#{updateUserId}
 		)
	</insert>
	
	<delete id="deleteMemo">
 		DELETE FROM MEMO
 		WHERE ID = #{id}
	</delete>
	
	<delete id="deleteMemos">
 		DELETE FROM MEMO
	</delete>
</mapper>