<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.server.dao.MemoMapper">
	
	<resultMap id="memoResponse" type="com.api.server.model.memo.MemoResponse" autoMapping="true"/>
	
	<select id="selectMemos" resultMap="memoResponse">
		SELECT * FROM ( 
			SELECT 
			  A.ID
			 ,A.USER_ID
			 ,A.TITLE
			 ,A.CONTENTS
			 ,A.GROUP_ID
			 ,B.NAME AS GROUP_NAME
			 ,DATE_FORMAT(A.CREATE_DT, '%Y-%m-%d') AS CREATE_FORMAT_DT
			 ,A.CREATE_DT
			FROM MEMO A
			LEFT JOIN MEMO_GROUP B
			ON A.GROUP_ID  = B.ID
		) AA
		WHERE 1=1
		<if test='userId != null'>
			AND A.USER_ID = #{userId}
		</if>
 		<if test='sortItem != null'>
	 		ORDER BY ${sortItem} ${sortType}
		</if>
	</select>
	
	<select id="selectMemoById" resultMap="memoResponse">
 		SELECT * FROM MEMO
 		WHERE ID = #{id}
 		ORDER BY CREATE_DT DESC
	</select>
	
	<update id="updateMemo">
 		UPDATE MEMO SET
 		  TITLE = #{title}
 		 ,CONTENTS = #{contents}
 		 ,GROUP_ID = #{groupId}
 		 ,UPDATE_DT = NOW()
 		WHERE ID = #{id}
	</update>
	
	<insert id="createMemo">
 		INSERT INTO MEMO (
 			 ID
 			,USER_ID
 			,TITLE
 			,CONTENTS
 			,GROUP_ID
 			,CREATE_DT
 			,CREATE_USER_ID
 			,UPDATE_DT
 			,UPDATE_USER_ID
 		) VALUES (
 			 #{id}
 			,#{userId}
 			,#{title}
 			,#{contents}
 			,#{groupId}
 			,NOW()
 			,#{userId}
 			,NOW()
 			,#{userId}
 		)
	</insert>
	
	<delete id="deleteMemo">
 		DELETE FROM MEMO
 		WHERE ID = #{id}
	</delete>
	
	<delete id="deleteMemos">
 		DELETE FROM MEMO
	</delete>
</mapper>