<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.server.dao.MemoMapper">
	
	<resultMap id="memoResponse" type="com.api.server.model.memo.MemoResponse" autoMapping="true"/>
	
	
	<select id="selectMemos" resultMap="memoResponse">
		SELECT * FROM ( 
			SELECT
			  A.ID
			 ,A.AGENT_ID
			 ,A.TITLE
			 ,A.CONTENTS
			 ,A.GROUP_ID
			 ,B.TITLE AS GROUP_TITLE
			 ,REPLACE(REPLACE(DATE_FORMAT(A.UPDATED_ILSI, '%p %h:%i %m-%d-%Y'),'AM', '오전'),'PM','오후') AS CONVERSION_UPDATED_ILSI
			 ,A.CREATED_ILSI
			FROM MEMO A
			LEFT JOIN MEMO_GROUP B
			ON A.GROUP_ID  = B.ID
		) AA
		WHERE AA.AGENT_ID = #{agentId}
 		<if test='sortItem != null'>
	 		ORDER BY ${sortItem} ${sortType}
		</if>
	</select>
	
	
	<insert id="createMemo">
 		INSERT INTO MEMO (
 			 ID
 			,AGENT_ID
 			,TITLE
 			,CONTENTS
 			,GROUP_ID
 			,CREATED_ILSI
 			,UPDATED_ILSI
 		) VALUES (
 			 #{id}
 			,#{agentId}
 			,#{title}
 			,#{contents}
 			,#{groupId}
 			,NOW()
 			,NOW()
 		)
	</insert>
	
	
	<update id="updateMemo">
 		UPDATE MEMO SET
 		  TITLE = #{title}
 		 ,CONTENTS = #{contents}
 		 ,GROUP_ID = #{groupId}
 		 ,UPDATED_ILSI = NOW()
 		WHERE ID = #{id}
 		AND AGENT_ID = #{agentId}
	</update>
	
	
	<delete id="deleteMemo">
 		DELETE FROM MEMO
 		WHERE ID = #{id}
 		AND AGENT_ID = #{agentId}
	</delete>
	
	
    <delete id="deleteMemoByGroups">
    	DELETE FROM MEMO
        WHERE AGENT_ID = #{agentId}
        AND GROUP_ID IN
         <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
	</delete>
	

</mapper>